/* ----------------
    Common Styles
---------------- */
html{
    font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
    font-size: 70%;
}

.form1 input[type="text"]{
    width: 50%;
    margin: 10px 1em;
    border-top: 1px solid rgb(3, 150, 3);
    border-right: 2px solid #094696;
    border-bottom: 2px solid #094696;
    border-left: 1 solid rgb(3, 150, 3);;
    border-radius: 10px;
    margin: 0px auto;
}